* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --primary-color: #266e70;
  --secondary-color: hsl(201, 42%, 57%);
  --third-color: #266d7011;
  --color: rgb(5, 5, 5);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--third-color);
}

nav {
  background-color: var(--third-color);
  padding: 0.575rem 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: var(--primary-color);
  font-weight: 700;
}

.navigation h1 {
  font-size: 2em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 0.525rem;
  color: var(--primary-color);
}

h2 {
  font-size: 1.125rem;
}

h3 {
  font-size: 0.975rem;
}

.detail-h2 {
  text-align: center;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
}

p {
  font-size: 0.8975rem;
  line-height: 1.7;
  color: var(--color);
}

.body-text p {
  margin-bottom: 1.25rem;
}

.body-text p:last-child {
  margin-bottom: 0;
}

.width-long {
  width: 92%;
  max-width: 1000px;
  margin: auto;
}

.width {
  width: 92%;
  max-width: 620px;
  margin: auto;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 0.752rem;
}

.image {
  border-radius: 10px;
  overflow: hidden;
  margin-top: 3.2rem;
}

.tags-layout {
  display: flex;
  align-items: center;
  gap: 0.275rem;
}

.tags-layout p {
  color: var(--primary-color);
  font-size: 0.752rem;
  font-weight: 600;
}

.date-author {
  display: flex;
  align-items: center;
  gap: 0.275rem;
}

.date,
.author {
  font-size: 0.75rem;
  color: gray;
}

.author {
  color: var(--primary-color);
  font-weight: 700;
}

label {
  padding-bottom: 0.75rem;
  display: block;
}

.tags {
  font-size: 0.575rem;
  color: black;
  display: flex;
  gap: 0.125rem;
  margin-top: 0.525rem;
  margin-bottom: 0.425rem;
}

.tag {
  padding: 0.125rem 0.45rem;
  background-color: var(--primary-color);
  background-color: rgba(128, 128, 128, 0.233);
  border-radius: 3px;
  color: white;
}

.input {
  margin: 2.1rem 0;
  display: flex;
  border-radius: 100vh;
  overflow: hidden;
}

.search input {
  display: block;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: var(--third-color);
}

.search input:focus {
  border: none;
  outline: none;
}

.search input:first-of-type {
  padding-left: 1.1rem;
  flex-grow: 1;
}

.search input:last-of-type {
  background-color: var(--secondary-color);
  color: white;
}

.alert {
  padding: 0.55rem 0.75rem;
  background-color: rgb(134, 241, 179);
  margin-bottom: 3rem;
  font-size: 0.85rem;
}

.alert-info {
  background-color: rgb(99, 139, 248);
}

.alert-success {
  background-color: rgb(134, 241, 179);
}

.alert-warning {
  background-color: rgb(252, 126, 126);
}

pre,
code {
  overflow-x: auto;
  /* IE and Edge */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre {
  padding: .25rem .25rem .25rem .25rem;
  margin-top: 0.7875rem;
  margin-bottom: 1.5rem;
  background-color: var(--third-color);
}

pre::-webkit-scrollbar,
codepre::-webkit-scrollbar {
  display: none;
}

code {
  font-family: Consolas, 'Fira Code', monospace;
  font-size: 0.875rem;
}

ol {
  padding-left: 1rem;
}

ul {
  padding-left: 1rem;
}

li {
  line-height: 1.7;
  margin-bottom: 0.75rem;
}

li:first-of-type {
  margin-top: 0.275rem;
}

li:last-of-type {
  margin-bottom: 1.75rem;
}

.blog {
  background-color: var(--third-color);
  padding: 1.25rem;
  margin-bottom: 1.75rem;
  border-radius: 8px;
}

.blog h3 {
  margin-bottom: 0.25rem;
}

.post {
  margin-bottom: 1.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.django {
  background-color: hsl(160, 42%, 57%);
}

.python {
  background-color: hsl(175, 42%, 57%);
}

.database {
  background-color: hsl(192, 42%, 57%);
}

.models {
  background-color: hsl(201, 42%, 57%);
}

.django-admin {
  background-color: hsl(153, 42%, 57%);
}

.django-app {
  background-color: hsl(215, 42%, 57%);
}

.django-template {
  background-color: hsl(220, 42%, 57%);
}

.django-shell {
  background-color: hsl(229, 42%, 57%);
}

.pagination {
  display: flex;
  gap: 0.2125rem;
  width: fit-content;
  margin: auto;
  margin-bottom: 1.75rem;
}

.pagination a {
  padding: 0.1125rem 0.575rem;
  background-color: hsl(201, 42%, 57%);
  border-radius: 3px;
  color: white;
}

.footer {
  margin-top: auto;
}

.footer-area {
  padding: 0.85rem 0;
  background-color: var(--third-color);
}

.footer p {
  text-align: center;
}

.about {
  margin-top: 2.4rem;
}

@media only screen and (min-width: 428px) {
  p {
    font-size: 1rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.075rem;
  }

  .input {
    margin: 3.2rem 0;
  }

  .post {
    background-color: var(--third-color);
    padding: 1.7525rem 2.25rem;
  }

  .image {
    margin-top: 4.2rem;
  }


  .about {
    margin-top: 3.6rem;
  }
}