{% load static %}
<footer class="py-6 md:py-8">
    {% comment %} <div class="sm:flex sm:items-center sm:justify-between w-11/12 mx-auto">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0">
            <img src="{% static 'images/brand/favicon.png' %}" class="h-8 mr-3" alt="Flowbite Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">YOK Consult</span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-100">
            <li>
                <a href="/blog" class="mr-4 hover:underline md:mr-6 text-gray-500">Blogs</a>
            </li>
            <li>
                <a href="/service" class="mr-4 hover:underline md:mr-6 text-gray-500">Services</a>
            </li>
            <li>
                <a href="/about" class="mr-4 hover:underline md:mr-6 text-gray-500">About</a>
            </li>
            <li>
                <a href="/contact" class="hover:underline text-gray-500">Contact</a>
            </li>
        </ul>
        <hr class="border-gray-200 dark:border-gray-700 lg:m-6"/>
    </div> {% endcomment %}
    <span class="block text-sm text-gray-500 w-11/12 mx-auto text-center">&copy{% now "Y" %} | Website by
        <a href="https://www.dkibui.com/about" target="_blank" class="font-semibold">dkibui.com™ </a>
    </span>
</footer>

<script src="{% static 'js/app.js' %}"></scrip class="text-center"t>