{% extends "_base/_base.html" %}
{% block content %}
<div class="bg-pri-100 px-8 pt-5 pb-8 w-[90%] max-w-[650px] mx-auto rounded-xl text-pri-800 shadow-md">
  <main class="">
    <h1 class="text-xl">{{ post.title }}</h1>
    {% if post.is_updated %}
    <p class="text-xs text-pri-500 font-bold pb-[4px] mb-4 border-b-2 border-pri-300">
      Published {{ post.publish | date:"M d, Y" }}
      | Updated {{ post.updated|timesince }} ago
    </p>
    {% else %}
    <p class="text-xs text-pri-500 font-bold pb-[4px] mb-4 border-b-2 border-pri-300">
      Published {{ post.publish | date:"M d, Y" }}
    </p>
    {% endif %}
    {{ post.body | safe }}
  </main>
  <aside class="right-container">
    <div class="aside-content">
      <div class="tag-filters">
        <h3>Use a tag to filter blogs</h3>
        {% for tag in tags %}
        <a href="{% url 'blog:list_by_tag' tag.slug %}"><span class="tag-baloon">{{ tag.name }}</span></a>
        {% endfor %}
        <a href="{% url 'blog:list' %}"><span class="tag-baloon">remove filter</span></a>
      </div>
      <div class="similar-posts">
        <h3>You might also enjoy the following</h3>
        {% for post in similar_posts %}
        <p>
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </p>
        {% empty %}
        We don't have posts with similar content at the moment. Check back later.
        {% endfor %}
      </div>
    </div>
  </aside>
</div>
{% endblock content %}