{% extends "base/base.html" %}  
{% block content %}
<div class="container">
  <main class="center-container">
    <h1>{{ post.title }}</h1>
    <p class="date">Published on {{ post.created | date:"F d, Y" }} by {{ post.author }}</p>
    {{ post.body | safe }}
  </main>
  <aside class="right-container">
    <div class="aside-content">
        <div class="tag-filters">
            <h3>Use a tag to filter blogs</h3>
            {% for tag in tags %}
                <a href="{% url "blog:post_list_by_tag" tag.slug %}"><span class="tag-baloon">{{ tag.name }}</span></a>
            {% endfor %}
            <a href="{% url "blog:post_list" %}"><span class="tag-baloon">remove filter</span></a>
        </div>
        <div class="similar-posts">
          <h3>You might also enjoy the following</h3>
          {% for post in similar_posts %}
          <p>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          </p>
          {% empty %}
            We don't have posts with similar content at the moment. Check back later.
          {% endfor %}
        </div>
    </div>
  </aside>
</div>
{% endblock content %}