{% extends "base/base.html" %}
{% block content %}
<div class="container">
    <main class="center-container">
            {% for post in posts %}
            <div class="list-item">
                <h2>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </h2>
                <p class="date">Published {{ post.created | timesince}} ago</p>
                {{ post.body | safe | truncatewords:28 }}
            </div>
            {% endfor %}
    </main>
    <aside class="right-container">
        <div class="aside-content">
            <p>In web development there's so much to learn but it seems apparent that one has to learn the 20% that does 80%.</p>
            <p>This blog is my attempt to share with you the critical knowledge about web developement in the Python stack. Later on, I intend to include Javascript as well. But for now, it's django...</p>
            <div class="tag-filters">
                <h3>Use a tag to filter blogs</h3>
                {% for tag in tags %}
                    <a href="{% url "blog:post_list_by_tag" tag.slug %}"><span class="tag-baloon">{{ tag.name }}</span></a>
                {% endfor %}
                <a href="{% url "blog:post_list" %}"><span class="tag-baloon">remove filter</span></a>
            </div>
        </div>
    </aside>
</div>
{% endblock content %}