{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/style.css" %} />
    <title>Document</title>
</head>
<body>
    <div class="left-container">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis temporibus, earum nostrum blanditiis repudiandae placeat totam dolor quod deserunt molestias porro, ad, recusandae cum reprehenderit eos ipsa nulla culpa laudantium.
        </p>
        <p>
            Dignissimos modi ad nostrum nesciunt illum perspiciatis? Dolorum atque, repudiandae nihil minima consequatur illum dolores reiciendis perferendis placeat? Sapiente provident nesciunt eos debitis excepturi dolorum aspernatur ut, earum quam possimus.
        </p>
    </div>
    <div class="center-container">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis temporibus, earum nostrum blanditiis repudiandae placeat totam dolor quod deserunt molestias porro, ad, recusandae cum reprehenderit eos ipsa nulla culpa laudantium.
        </p>
        <p>
            Dignissimos modi ad nostrum nesciunt illum perspiciatis? Dolorum atque, repudiandae nihil minima consequatur illum dolores reiciendis perferendis placeat? Sapiente provident nesciunt eos debitis excepturi dolorum aspernatur ut, earum quam possimus.
        </p>
    </div>
    <div class="right-container">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis temporibus, earum nostrum blanditiis repudiandae placeat totam dolor quod deserunt molestias porro, ad, recusandae cum reprehenderit eos ipsa nulla culpa laudantium.
        </p>
        <p>
            Dignissimos modi ad nostrum nesciunt illum perspiciatis? Dolorum atque, repudiandae nihil minima consequatur illum dolores reiciendis perferendis placeat? Sapiente provident nesciunt eos debitis excepturi dolorum aspernatur ut, earum quam possimus.
        </p>
    </div>
</body>
</html>