html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  --primary-color: #001e4ae8;
  --secondary-color: #080808;
  --third-color: #746c751c;
  --color: #000f25;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--third-color);
}

h1,
h2 {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.35em;
}

h1 {
  margin-top: 0.75em;
  margin-bottom: 0.50em;
}

p {
  font-size: 1em;
  line-height: 1.8;
  color: rgb(0, 5, 34);
}

.search-result p {
  padding-left: 1rem;
  margin-bottom: 1.275em;
  font-size: 1.0775em;
  color: var(--primary-color);
}

.search-result a {
  border-bottom: 2px solid #106799;
  padding: 0;
  color: #106799;
}

.blog-snippet p {
  line-height: 1.6;
  margin-top: 0.25em;
}

h1 {
  font-size: 1.35em;
}

h2 {
  font-size: 1.1250em;
}

h3 {
  font-size: 1.0692em;
}

h4 {
  font-size: 1.0125em;
}

h5 {
  font-size: 0.9567em;
}

h6 {
  font-size: 0.8875em;
}

nav {
  background-color: var(--third-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation img {
  display: block;
  width: 100%;
  height: 32px;
  max-width: 92px;
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
}

.body-text p,
.about p {
  margin-bottom: 1.25rem;
}

.body-text p:last-child {
  margin-bottom: 0;
}

.width-long {
  width: 92%;
  max-width: 1000px;
  margin: auto;
}

.width {
  width: 92%;
  max-width: 620px;
  margin: auto;
}

.detail-img {
  /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}

.detail-img img {
  display: block;
  width: 100%;
  margin-bottom: 0.75em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
  margin-top: 3.6rem;
  box-shadow: rgba(33, 35, 38, 0.21) 0px -10px 20px -10px;
}

.tags-layout {
  display: flex;
  align-items: center;
  gap: 0.275rem;
}

.tags-layout p {
  color: var(--primary-color);
  font-size: 0.752rem;
  font-weight: 600;
  margin: 0;
}

.date-author {
  display: flex;
  align-items: center;
  gap: 0.275rem;
  margin-bottom: 0.45rem;
}

.date,
.author {
  font-size: 0.775rem;
  color: rgb(61, 61, 63);
}

.author {
  color: var(--primary-color);
  font-weight: 600;
}

label {
  padding-bottom: 0.75rem;
  display: block;
}

.tags {
  font-size: 0.575rem;
  color: black;
  display: flex;
  gap: 0.125rem;
}

.tag {
  padding: 0.125rem 0.45rem;
  background-color: #55bebe;
  border-radius: 3px;
  color: white;
}

.input {
  margin-top: 3.6rem;
  margin-bottom: 2.6rem;
  display: flex;
  border-radius: 100vh;
  overflow: hidden;
}

.search input {
  display: block;
  border: none;
  outline: none;
  padding: 0.675rem 1rem;
  background-color: var(--third-color);
  font-size: 0.8975rem;
}

.search input:focus {
  border: none;
  outline: none;
}

.search input:first-of-type {
  padding-left: 1.1rem;
  flex-grow: 1;
  color: inherit;
}

.search input:last-of-type {
  background-color: var(--primary-color);
  color: white;
}

.alert {
  padding: 0.55rem 0.75rem;
  background-color: rgb(134, 241, 179);
  margin-bottom: 3rem;
  font-size: 0.85rem;
}

.alert-info {
  background-color: rgb(99, 139, 248);
}

.alert-success {
  background-color: rgb(134, 241, 179);
}

.alert-warning {
  background-color: rgb(252, 126, 126);
}

pre,
code {
  overflow-x: auto;
  /* IE and Edge */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

pre {
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin-top: 0.7875rem;
  margin-bottom: 1.5rem;
  background-color: var(--third-color);
}

pre::-webkit-scrollbar,
codepre::-webkit-scrollbar {
  display: none;
}

code {
  font-family: Consolas, 'Fira Code', monospace;
  font-size: 0.75725rem;
  line-height: 1.6;
}

p span {
  display: inline-block;
  border-radius: 5px;
  padding: 0.007125em 0.35em;
  background-color: var(--third-color);
  font-size: 0.725rem;
  outline: 1px solid #2f448b4d;
}

ol,
ul {
  padding-left: 1rem;
}

li {
  line-height: 1.7;
  margin-bottom: 0.75rem;
}

li:first-of-type {
  margin-top: 0.275rem;
}

li:last-of-type {
  margin-bottom: 1.75rem;
}

.blog {
  background-color: var(--third-color);
  padding: 1.25rem;
  margin-bottom: 1.11125rem;
  border-radius: 8px;
}

.blog h3 {
  margin-bottom: 0.25rem;
}

.post {
  margin-bottom: 1.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.django {
  background-color: hsl(160, 42%, 57%);
}

.python {
  background-color: #63bfb8;
}

.database {
  background-color: hsl(192, 42%, 57%);
}

.models {
  background-color: #639fbf;
}

.django-admin {
  background-color: hsl(153, 42%, 57%);
}

.django-app {
  background-color: hsl(215, 42%, 57%);
}

.django-template {
  background-color: hsl(220, 42%, 57%);
}

.django-shell {
  background-color: hsl(229, 42%, 57%);
}

.pagination {
  display: flex;
  gap: 0.2125rem;
  width: fit-content;
  margin: auto;
  margin-top: 0.65rem;
  margin-bottom: 1.75rem;
}

.pagination a {
  padding: 0.1125rem 0.575rem;
  background-color: var(--third-color);
  border-radius: 3px;
  color: inherit;
}

.footer {
  margin-top: auto;
}

.footer-area {
  padding: 0.85rem 0;
  background-color: var(--third-color);
}

.footer p {
  text-align: center;
}

.about {
  margin-top: 2.4rem;
}

.about h1 {
  margin-bottom: 1.6rem;
}

@media only screen and (min-width: 428px) {
  h1 {
    font-size: 1.5em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.250em;
  }

  h3 {
    font-size: 1.188em;
  }

  h4 {
    font-size: 1.125em;
  }

  h5 {
    font-size: 1.063em;
  }

  h6 {
    font-size: 0.67rem;
  }

  .navigation img {
    margin: 0.85em 0;
    height: 42px;
    max-width: 120px;
  }

  .input {
    margin-top: 5.6rem;
    margin-bottom: 3.4rem;
  }

  .search input {
    padding: 0.7875rem 1rem;
    font-size: 1rem;
  }

  .blog {
    margin-bottom: 1.75rem;
  }

  .post {
    background-color: var(--third-color);
    padding: 1.7525rem 2.25rem;
  }

  .image {
    margin-top: 4.2rem;
  }

  .about {
    margin-top: 3.6rem;
  }

  .about h1 {
    margin-bottom: 2.6rem;
  }
}