@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Source+Sans+3:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  border: 0 none;
  outline: 0;
  --background-black: #647e9609;
  --primary-color: #011936;
  --secondary-color: #007CBE;
  --third-color: #647e963a;
  --color: #1d1e20;
  --nav-footer: #2c384b54;
  --code-background: #576a7a1a;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Source Sans 3', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  direction: ltr;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--background-black);
  position: relative;
  padding: 0;
  margin: 0;
}

h1,
h2 {
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.65;
  margin-top: 0;
  margin-bottom: 0.5525rem;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Source Sans 3', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: var(--color);
  margin-bottom: 20px;
}

.blog-snippet p {
  line-height: 1.6;
  margin-top: 0.25em;
}

h1 {
  font-size: 1.35em;
  margin-top: 0.75em;
  margin-bottom: 0.50em;
}

h2 {
  font-size: 1.1250em;
}

h3 {
  font-size: 1.0692em;
}

h4 {
  font-size: 1.0125em;
}

h5 {
  font-size: 0.9567em;
}

h6 {
  font-size: 0.8875em;
}

nav {
  border-bottom: 1px solid var(--third-color);
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation img {
  display: block;
  width: 100%;
  height: 32px;
  max-width: 92px;
  margin: 0.5em 0;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  display: inline-block;
}

.body-text p,
.about p {
  margin-bottom: 1.25rem;
}

.body-text p:last-child {
  margin-bottom: 0;
}

.list-item {
  margin-bottom: 2.2rem;
}

.list-item h2 {
  margin-bottom: 0;
}

a:hover {
  color: var(--primary-color);
}

.width-long {
  width: 92%;
  max-width: 1440px;
  margin: auto;
}

.tag-baloon {
  display: inline-block;
  background-color: rgba(87, 106, 122, 0.103);
  outline: 1px solid var(--third-color);
  margin: 6px 3px;
  padding: 5px 11px 7px 11px;
  border-radius: 25px;
  color: var(--color);
  text-align: center;
}

.tag-baloon:hover {
  outline: 3px solid rgba(87, 106, 122, 0.285);
}

.tag-filters h3 {
  margin-bottom: 1.1rem;
}

.center-container {
  overflow-x: hidden;
}


blockquote {
  border-left: 8px solid var(--third-color);
  padding: 0 1rem;
  margin: 2.2rem 0 2.2rem 0;
  display: block;
}

blockquote p {
  font-size: 14px;
  font-style: italic;
  line-height: 1.5;
}

.about {
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

.center-container {
  width: 100%;
}

.center-container,
.right-container {
  padding-top: 3.2rem
}

.right-container {
  position: relative;
}

.similar-posts {
  margin-top: 3.75rem;
}

.similar-posts p {
  margin-bottom: 1rem;
}

.similar-posts h3 {
  margin-bottom: 1rem;
}

.date,
.author {
  color: var(--color);
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  opacity: 0.6125;
}

.author {
  color: var(--primary-color);
  font-weight: 700;
}

label {
  padding-bottom: 0.75rem;
  display: block;
}

.tags {
  font-size: 0.575rem;
  color: black;
  display: flex;
  gap: 0.125rem;
}

.tag {
  padding: 0.125rem 0.45rem;
  background-color: #55bebe;
  border-radius: 3px;
  color: white;
}

.input {
  margin-top: 3.6rem;
  margin-bottom: 2.6rem;
  display: flex;
  border-radius: 100vh;
  overflow: hidden;
}

table {
  margin: 2.5rem 0;
  border-collapse: collapse;
}

table caption {
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 14px;
  font-style: italic; 
  font-weight: bold; 
  opacity: 0.7125; 
}

th,
td {
  border: 1px solid rgba(128, 128, 128, 0.31);
  padding: 4px 8px;
  text-align: left;
  vertical-align: top;
} 

pre {
  background-color: var(--code-background);
  /* -ms-overflow-style: none; */
  /* scrollbar-width: none;  */
  border: 4px solid var(--third-color);
  padding: 1rem 1.25rem;
  margin-top: 0.7875rem;
  margin-bottom: 1.5rem;
  display: block;
  overflow-x: auto;
}

code {
  font-family: 'Fira Code', Consolas, monospace;
  font-size: 0.85725rem;
  line-height: 1.6;
}


p span {
  display: inline-block;
  border-radius: 5px;
  padding: 0.007125em 0.35em;
  background-color: var(--third-color);
  font-size: 0.725rem;
  outline: 1px solid #2f448b4d;
}

ol,
ul {
  padding-left: 1rem;
  margin-left: 1.525rem;
}

li {
  line-height: 1.7;
}

li:first-of-type {
  margin-top: 0.275rem;
}

li:last-of-type {
  margin-bottom: 1.75rem;
}

.post {
  margin-bottom: 1.5rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.pagination {
  display: flex;
  gap: 0.2125rem;
  width: fit-content;
  margin: auto;
  margin-top: 0.65rem;
  margin-bottom: 1.75rem;
}

.pagination a {
  padding: 0.1125rem 0.575rem;
  background-color: var(--third-color);
  border-radius: 3px;
  color: inherit;
}

.footer {
  margin-top: auto;
}

.footer-area {
  padding: 1rem 0;
  border-top: 1px solid var(--third-color);
}

.footer p {
  text-align: center;
  margin: 0;
}

.about {
  margin-top: 2.4rem;
}

.about h1 {
  margin-bottom: 1.6rem;
}

@media only screen and (min-width: 512px) {
  .container {
    width: 92%;
    max-width: 1000px;
    grid-template-columns: 3fr 1.2fr;
  }

  .center-container {
    border-right: 1px solid var(--third-color);
    padding-right: 4.2rem;
    padding-bottom: 1.75rem;
    min-height: 100%;
  }

  .right-container {
    padding: 0 1.2rem 1.2rem 1.2rem;
    margin-top: 3.75rem;
  }

  .aside-content {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 3.75rem;
  }

  pre::-webkit-scrollbar,
code::-webkit-scrollbar {
  display: none;
}  

  h1 {
    font-size: 1.5em;
    margin-top: 0;
  }

  h2 {
    font-size: 1.250em;
  }

  h3 {
    font-size: 1.188em;
  }

  h4 {
    font-size: 1.125em;
  }

  h5 {
    font-size: 1.063em;
  }

  h6 {
    font-size: 0.67rem;
  }

  .navigation img {
    margin: 0.85em 0;
    height: 42px;
    max-width: 120px;
  }

  .input {
    margin-top: 5.6rem;
    margin-bottom: 3.4rem;
  }

  .search input {
    padding: 0.7875rem 1rem;
    font-size: 1rem;
  }

  .blog {
    margin-bottom: 1.75rem;
  }

  .post {
    background-color: var(--third-color);
    padding: 1.7525rem 2.25rem;
  }

  .image {
    margin-top: 4.2rem;
  }

  .about {
    margin-top: 3.6rem;
  }

  .about h1 {
    margin-bottom: 2.6rem;
  }
}